.footer {
  background-image: url("/img/footer.png");
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 4rem;
}

.footer_grid {
  padding-top: 8rem;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

.footer_title {
  margin-bottom: 4rem;
  font-size: 24px;
  line-height: 28px;
}

.element_1-descr {
  text-align: start;
}

.element_2-product {
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  margin-right: 6rem;
  gap: 2rem;
}

.product_grid {
  background-color: #0f0f0f;
  color: #d0d0d0;

  padding: 1rem 2rem;
}

.product_span {
  grid-column: span 2;
}

.element_3-descr {
  max-width: 80%;
  text-align: start;
  margin-bottom: 3.7rem;
}

.form_field {
  width: 20.1rem;
  height: 4.2rem;
  background-color: rgba(255, 255, 255, 0.4);
}

.form_field::placeholder {
  color: var(--white-color);
  padding: 1rem 2rem;
  font-size: 1.4rem;
}

.form_button {
  background-color: #0f0f0f;
  letter-spacing: 0.05em;
  color: var(--white-color);
  padding: 1rem 2rem;
}
