.grid_container {
  grid-template-columns: repeat(2, 1fr);
}

.title_container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
}

.line {
  width: 12rem;
  height: 0rem;
  border-bottom: 1px solid var(--white-color);
  margin-top: 3rem;
}

.watch-card {
  margin: 10rem 8rem 9.3rem 8rem;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}

.card_div {
  background-color: #191b1c;
}

.element_2 {
  background-image: url("/img/grid1.png");
  object-fit: cover;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 10rem;
}

.element_container {
}

.element_3 {
  background-image: url("/img/grid2.png");
  object-fit: cover;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 60rem;
}

.card_img {
  padding: 5.5rem 2.3rem;
}

.card_title {
  font-family: "Playfair Display", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: var(--white-color);
  margin-top: 2.5rem;
}
.price {
  font-family: "Playfair Display", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #d0d0d0;
  margin-top: 1rem;
}

.btn {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--white-color);
  display: block;
  margin: 0 auto;
}

.border_div {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_catalog {
  border: 1px solid var(--white-color);
  padding: 1rem 2.5rem;
}

.element-4 {
  height: 60rem;
}

.element-4_inf {
  flex-direction: column;
  align-items: center;
}

.element-4_descr {
  margin-top: 3rem;
  max-width: 50%;
}

.btn_look {
  margin-top: 3rem;
  border: 1px solid var(--white-color);
  padding: 1rem 2.5rem;
}
